
.counter {
    display: flex;
    align-items: center;

    .action-buttons {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    
    .counts {
        margin-right: 20px;
    }


}
